table,
th,
td {
   background-color: #F4A460 ;
   border: 1px solid black;
   padding: 5px;
   font-family: 'Big Shoulders Display', cursive;
}
h1{

    font-family: 'Turret Road', cursive;

}
h2{
    font-family: 'Turret Road', cursive; 
}
td, p{
    font-family: 'Mansalva', cursive;
}
table{
    border-collapse: collapse
}
.btn {
    background: $cd-btn;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    &:hover {
        transform: scale(1.15);
    }
}
